#root {
  margin-left: 1rem;
}

.hint-container {
  font-weight: bold;
}

#operation-container {
  display: flex;
  align-items: center;

  font-weight: bold;
}

#textarea--content-code {
  margin: 0.5rem 0;
  border: 2px solid;

  font-weight: bold;
  font-size: 1.3rem;
}

.btn {
  font-weight: bold;
}

#qrCode {
  margin: 1rem 0;
}

#btn--confirm-tcc {
  margin-left: 1rem;
}